.header {
  background: orange;
  color: #333;
  font-family: 'Chelsea Market', Arial, sans-serif;
  line-height: 1;
  height: 68px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.header__logo {
  color: inherit;
  font-size: 16px;
  text-decoration: none;
  
  &:hover {
    color: inherit;
  }
}

.header__navigation {
  font-size: 14px;

  &__link {
    color: #333;
    font-size: 12px;
    text-decoration: none;
    display: block;
    padding: 1rem 0;

    &:not(:first-of-type) {
      margin-left: 32px;
    }
  }
}
