<div class="container">
  <h1>About Scareddit</h1>
  <p>
    <a [routerLink]="'/'">See list of Reddit threads</a>
  </p>
  <p>
    Born out of a love of reading scary/paranormal AskReddit posts but never
    keeping track of which one's I'd read. You can set individual comments as read
    which is then saved in your browser's localStorage.
  </p>
  <p>
    This means that as long as you used the same browser &amp; device, the comments
    you set as read will be remembered. To work across multiple devices, we would need
    accounts which seemed overkill for how simple I wanted this app to be.
  </p>
  <p>
    The list of threads is by no means final and if you would like to see a thread added to
    the list, you can make a pull request on <a href="https://github.com/fatters/scareddit" target="_blank" rel="nofollow">GitHub</a>.
    Alternatively, if you see your comment in one of these threads and wish for it to be removed
    for <em>any</em> reason at all, get in touch and I will remove it for you. You can also remove
    it yourself as Scareddit automatically filters out [removed] or [deleted] comments.
  </p>
  <p>
    If you have any suggestions/improvements etc. feel free to open an issue/pull request on <a href="https://github.com/fatters/scareddit" target="_blank" rel="nofollow">GitHub</a>.
  </p>
  <p>
    A huge thanks to following Reddit posts that listed most of the threads used on this site:
  </p>
  <ul>
    <li><a href="https://www.reddit.com/r/Paranormal/comments/3ep2f1/my_huge_collection_of_paranormalthemed_askreddit/" target="_blank" rel="nofollow">"My huge collection of paranormal-themed askreddit threads"</a></li>
  </ul>
  <p>
    Happy reading!
  </p>
</div>
