<div class="container">
  <scareddit-loading [isLoading]="loading" [text]="'Comments'"></scareddit-loading>

  <div *ngIf="thread$ | async as thread">

    <ng-container *ngIf="thread.comments.length > 0">
      <scareddit-thread-summary [thread]="thread" (unread)="setAllCommentsInThreadUnread()"></scareddit-thread-summary>
      <ng-container *ngFor="let comment of thread.comments">
        <scareddit-thread-comment [comment]="comment" (remove)="removeCommentFromList($event)"></scareddit-thread-comment>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="thread.comments.length === 0">
      <a [routerLink]="'/'" class="go-back">&laquo; Go back</a>
      <p>All comments for this thread are set as read!</p>
      <p><a (click)="setAllCommentsInThreadUnread(thread.id)">Make all comments unread</a></p>
    </ng-container>

  </div>
</div>
