:host {
  border-bottom: 1px solid orange;
  display: block;

  &:last-of-type {
    border-bottom: 0;
  }
}

.comment {
  padding-bottom: 16px;
  word-break: break-word;

  &__footer {
    line-height: 1.4;
  }

  &__footer > *:not(:last-child) {
    margin-right: 16px;
  }
}
