<div class="comment">
  <div class="comment__body" [innerHTML]="comment.body_html"></div>
  <footer class="comment__footer">
    <span class="comment__footer__score">Score: {{comment.score}}</span>
    <a class="comment__footer__view-thread comment__button" [href]="'https://reddit.com' + comment.permalink" target="_blank" rel="nofollow noreferrer">Visit Comment</a>
    <button type="button" class="comment__footer__read-it comment__button btn-link" (click)="removeCommentFromList()">Read it</button>
  </footer>
</div>
