html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #333;
  color: #f5f5f5;
  font-family: 'Lato', Arial, sans-serif;
  overflow-y: scroll;

  &.has-scroll-component {
    padding-bottom: 68px;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}

a {
  color: orange;
  text-decoration: underline;
  cursor: pointer;
}

ul {
  padding-left: 16px;
}

*::selection {
  background: rgba(255, 165, 0, 0.99);
  color: #333;
}

p {
  line-height: 1.4;
}

.go-back {
  display: inline-block;
  margin-top: 16px;
}

.footer {

  &__inner {
    border-top: 1px solid orange;
    padding: 16px 0;
    text-align: center;
  }
}

.btn {
  background: orange;
  border: 0;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  padding: 8px;
  text-decoration: none;
  text-align: center;
}

.btn-link {
  background: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
  color: orange;
  text-decoration: underline;
  font-family: inherit;
  font-size: inherit;
}

svg path,
svg rect{
  fill: orange;
}

a:focus,
button:focus {
  outline: 4px solid white;
  outline-offset: 2px;
}